* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: PingFangSC-Regular, sans-serif;
}

#header {
  display: none;
}

[v-cloak] {
  display: none;
}

input {
  -webkit-user-select: text;
  -user-select: text;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #999;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

.middleboxfasortgoods {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.new_goods_money {
  font-weight: 700;
  margin-bottom: .2rem;
  color: #FF7030;
  font-size: .75rem;
}

.new_goods_money :nth-child(1) {
  color: #FF7030;
  font-size: 1rem;
}

.new_goods_money :nth-child(2) {
  color: #EB462C;
  font-size: 1.245rem;
  margin-left: -.2rem;
}

.new_goods_money :nth-child(3) {
  color: #ccc;
  font-size: .7rem;
}

.middleboxfatypechilditembold {
  border: 0.03125rem solid #E85450 !important;
  color: #E85450 !important;
}

.swiper-pagination-bullet {
  width: 0.4375rem;
  height: 0.4375rem;
  background: #000;
  border-radius: 0.4375rem;
  opacity: 0.3;
  margin: 0 0.2rem !important;
}

.swiper-pagination-bullet-active {
  width: 1.1875rem;
  height: 0.4375rem;
  background: #FDF4DD;
  border-radius: 0.4375rem;
  opacity: 1;
}

.uprowbox {
  content: '';
  display: block;
  height: 1.5rem;
  height: .5rem;
  width: .5rem;
  border-right: 0.0625rem solid #c8c5c5;
  border-bottom: 0.0625rem solid #c8c5c5;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  bottom: 0.15rem;
  left: 0.25rem;
}