<html id="root">
<meta charset="UTF-8">
<meta name=”Iphone-content” content=”375″/>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
<title>余额提现</title>
<!-- 引入vant2 -->
<link rel="stylesheet" href="https://unpkg.com/vant@2.12/lib/index.css" />
<style>
    *{
        margin: 0;
        padding: 0;
    }
    [v-cloak]{
        display: none;
    }
    #balance{
        background: #F0F0F0;
        min-height: 100vh;
    }
    .balance-title{
        padding: 6px 12px;
        color: #666666;
        font-size: 12px;
    }
</style>

<body>
  <div id="balance" v-cloak>
    <div class="balance-title">请选择到账方式</div>
    <van-radio-group v-model="cellResult">
        <van-cell-group>
          <van-cell v-for="(item, index) in cellList" :key="item.key" :key="index" :title="item.title">
            <template #right-icon>
              <van-radio :name="item.key" >
                <template #icon="props">
                    <van-icon :name="props.checked ? 'success':'' " />
                  </template>
              </van-radio>
            </template>
          </van-cell>
        </van-cell-group>
    </van-radio-group>
    <div class="balance-title"></div>
    <van-cell-group>
        <van-cell title="手机号:" :value="cellDetails.mobile" ></van-cell>
        <van-cell title="持卡人姓名:" :value="cellDetails.name" ></van-cell>
        <van-cell title="银行卡号:" :value="cellDetails.cardNo"></van-cell>
        <van-cell title="开户银行:" :value="cellDetails.bankName" ></van-cell>
        <van-cell title="可提现金额:" :value="`${cellDetails.balance}元`" >
            <template #title>
            <span class="custom-title">可提现金额</span>
            <van-field v-model="cellDetails.cash" placeholder="请输入提现金额" type="digit" ></van-field>
            </template>
        </van-cell>
        <van-cell title="提现手续费:" :value="`${cellDetails.fee}%`" ></van-cell>
        <van-cell title="流量月卡费:" :value="`${cellDetails.monthlyPass}元`" ></van-cell>
    </van-cell-group>
    <div class="balance-title">提现申请提交后，每月20-25日打款，请耐心等待。</div>
    <van-sticky container="balance" offset-top="90vh">
        <van-button block type="primary" round color="radial-gradient(#62D0B0,#62D194)" @click="takeCash" >提现</van-button>
    </van-sticky>
  </div>
</body>

<!-- 引入vue资源 -->
<script type='text/javascript' src="./js/vue.min.js"></script>
<!-- 引入vant资源 -->
<script src="https://unpkg.com/vue@2.6/dist/vue.min.js"></script>
<script src="https://unpkg.com/vant@2.12/lib/vant.min.js"></script>

</html>

<script>
let rootVM;

rootVM = new Vue({
    el: '#balance',
    data: {
        cellResult:"",//勾选结果
        cellList:[//单元格内信息
            { key:1,title:"提现到银行卡"},
            { key:2,title:"提现到对公账户"},
        ],
        cellDetails:{
            mobile:"13004451425",//手机号
            name:"徐凤鸣",//持卡人姓名
            cardNo:"6213360449904232879",//银行卡号
            bankName:"农业银行",//开户银行
            balance:"20579.27",//可提现金额
            cash:"",//提现金额
            fee:"1.00",//提现手续费
            monthlyPass:"45",//流量月卡费
        }
 
    },
    methods: {
        takeCash(){
            /* 
            * 1判断是否选择了提现方式
            * 2判断是否填写了 合理的 提现金额
            * 3请求接口 提示用户 返回到上一页
            */
            console.log(this.cellResult)
        }
    },
});


</script>